@import '~styles/variables';

.error {
    fill: $red-dark;
}
.error1 {
    fill: url(#SVGID_1_);
}

.info {
    fill: $blue-primary;
}
.info1 {
    fill: url(#SVGID_2_);
}

.success {
    fill: $green-primary;
}
.success1 {
    fill: url(#SVGID_3_);
}

.warning {
    fill: $orange-primary;
}
.warning1 {
    fill: url(#SVGID_4_);
}

.icon2 {
    enable-background: new;
}
.icon3 {
    fill: #ffffff;
}
